<div class="md-form-group float-label">
    <input class="md-input" ng-model="step3Ctrl.data.big_tiltle" focus-me="step3Ctrl.focusStart">
    <label>{{'NOTIF_EXTITLE' | translate}}</label>
</div>
<div class="md-form-group float-label">
    <input class="md-input" ng-model="step3Ctrl.data.big_content">
    <label>{{'NOTIF_EXTEXT' | translate}}</label>
</div>
<div class="md-form-group float-label">
    <input class="md-input" ng-model="step3Ctrl.data.summary">
    <label>{{'NOTIF_BRIEF' | translate}}</label>
</div>

<small class="help-block"></small>

<!--upload -->
<!--<small class="help-block">{{'ICON_DESC' | translate}}</small>-->
<div>
    <div class="drop-box">
        <div ngf-drop ngf-select
             ng-model="step3Ctrl.selectedFile"
             ngf-drag-over-class="'dragover'"
             ngf-multiple="false"
             ngf-allow-dir="true"
             accept="image/*"
             ngf-pattern="'image/*'">
            <div>{{'ICON_DESC' | translate}}</div>

            <!--<div>-->
            <!--<img ng-src="step3Ctrl.data.croppedDataUrl" />-->
            <!--</div>-->
        </div>
        <div ng-if="step3Ctrl.selectedFile" class="cropArea">
            <img-crop
                    image="step3Ctrl.selectedFile  | ngfDataUrl"
                    result-image="step3Ctrl.data.croppedDataUrl"
                    result-image-size="192"
                    area-type="square"
            >
            </img-crop>
        </div>
    </div>
    <div ngf-no-file-drop>
        <!-- File Drag/Drop is not supported for this browser -->
        <div class="button" ngf-select  ng-model="selectedFile"  ngf-multiple="false">{{'SELECT_IMAGE'|translate}}</div>
    </div>
    <div ng-if="step3Ctrl.isUpload">
        <uib-progressbar
                type="success"
                class="progress-striped active"
                max="step3Ctrl.uploadData.total"
                value="step3Ctrl.uploadData.precent">
            <i>{{step3Ctrl.uploadData.uploaded}}/{{step3Ctrl.uploadData.total}}</i>
        </uib-progressbar>
    </div>
</div>