<!--<div class="center-block w-xxl w-auto-xs p-y-md">-->
    <!--<div class="p-a-md box-color r box-shadow-z1 text-color m-a">-->
        <div class="m-b text-sm">
            {{ 'CHANGE_PASSWORD_MSG' | translate }}
        </div>
        <form ng-show="!changePassCtrl.successed" name="form" ng-submit="changePassCtrl.sendChangeRequest()">
            <!--<div class="md-form-group float-label">-->
                <!--<input type="password" class="md-input" ng-model="changePassCtrl.data.currentPassword" required>-->
                <!--<label>{{'CURRENT_PASSWORD' | translate}}</label>-->
            <!--</div>-->
            <!--CURRENT PASSWORD-->
            <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="currentPassword" class="mdl-textfield__input text-left" ng-model="changePassCtrl.data.old_password"
                       ng-focus="curpassFocus=true" ng-blur="curpassFocus=false"
                       type="password" id="lastPass">
                <label class="mdl-textfield__label" for="lastPass">{{'CURRENT_PASSWORD' | translate}}</label>
                <!--<span ng-show="!changePassCtrl.data.currentPassword && form.sub" class="mdl-textfield__error errorShow">{{'REQUIRED'|translate}}</span>-->
                <span ng-show="caps_state && curpassFocus" class="mdl-textfield__error errorShow">{{'CAPS_LOCK_ON'|translate}}</span>
            </div>
            <!--CURRENT PASSWORD END-->

            <!--NEW PASSWORD-->
            <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="password" class="mdl-textfield__input text-left" ng-focus="passFocus=true" ng-blur="passFocus=false"
                       password-strength strength-controller="changePassCtrl.controlStrength"
                       ng-change="changePassCtrl.passwordChange()"
                       ng-model="changePassCtrl.data.password"
                       type="password" id="newpassword">
                <label class="mdl-textfield__label" for="newpassword">{{'NEW_PASSWORD' | translate}}</label>
                <span ng-show="changePassCtrl.data.password && form.password.$error.strength"
                              class="mdl-textfield__error errorShow" ng-class="form.password.strengthType">{{form.password.$error.strength}}</span>
                <span ng-show="caps_state && passFocus" class="mdl-textfield__error errorShow">{{'CAPS_LOCK_ON'|translate}}</span>
            </div>
            <!--NEW PASSWORD END-->

            <!--NEW PASSWORD REPEAT-->
            <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input name="repassword" class="mdl-textfield__input text-left" ng-focus="repassFocus=true" ng-blur="repassFocus=false"
                       ng-model="changePassCtrl.repassword"
                       type="password" id="renewpassword">
                <label class="mdl-textfield__label" for="renewpassword">{{'NEW_PASSWORD' | translate}}</label>
                <span ng-if="changePassCtrl.data.password && changePassCtrl.repassword && changePassCtrl.data.password!==changePassCtrl.repassword"
                      class="mdl-textfield__error errorShow">{{'PASS_NOT_MATCH'|translate}}</span>
                <span ng-show="caps_state && repassFocus" class="mdl-textfield__error errorShow">{{'CAPS_LOCK_ON'|translate}}</span>
            </div>

            <!--NEW REPASSWORD REPEAT END-->


            <div>
                <button type="submit"
                        ng-disabled="!changePassCtrl.data.password || !changePassCtrl.data.old_password || !changePassCtrl.repassword  || form.$invalid || changePassCtrl.dataLoading"
                        class="btn primary">{{'CHANGE_PASS' | translate}}
                </button>
                <a ng-click="changePassCtrl.cancelCallback()" class="btn white">
                    {{'CANCEL'|translate}}
                </a>
            </div>

            <!--<button type="submit" ng-disabled="form.$invalid || signinCtrl.dataLoading"-->
                    <!--class="btn primary btn-block p-x-md">{{'CHANGE_PASS' | translate}}-->
            <!--</button>-->
            <div class="m-t">
                <small class="alert alert-danger" ng-if="changePassCtrl.error">{{changePassCtrl.error}}</small>
                <small class="alert alert-success" ng-if="changePassCtrl.alert">{{changePassCtrl.alert}}</small>
            </div>
        </form>
        <div ng-show="changePassCtrl.successed">
            <span>{{'SUCCESS_CHANGE_PASS'|translate}}</span>
            <button ng-click="changePassCtrl.cancelCallback()" class="btn primary btn-block">{{'OK' | translate}}</button>
        </div>
    <!--</div>-->
<!--</div>-->

