<header page="help">
    <div class="center-block w-xxl w-auto-xs p-y-md">
        <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
            <div class="m-b text-sm">
                {{ 'CHANGE_PASSWORD_MSG' | translate }}
            </div>
            <form name="form" ng-submit="changePassCtrl.sendChangeRequest()">
                <div class="md-form-group float-label">
                    <input type="password" class="md-input" ng-model="changePassCtrl.data.currentPassword" required>
                    <label>{{'CURRENT_PASSWORD' | translate}}</label>
                </div>
                <div class="md-form-group float-label">
                    <input type="password" class="md-input" ng-model="changePassCtrl.data.newPassword" required>
                    <label>{{'PASSWORD' | translate}} {{'NEW' | translate}}</label>
                </div>
                <div class="md-form-group float-label">
                    <input type="password" class="md-input" ng-model="changePassCtrl.rePassword" required>
                    <label>{{'REPASSWORD' | translate}} {{'NEW' | translate}}</label>
                </div>
                <button type="submit" ng-disabled="form.$invalid || signinCtrl.dataLoading" class="btn primary btn-block p-x-md">{{'CHANGE_PASS' | translate}}</button>
                <small ng-if="changePassCtrl.error">{{changePassCtrl.error}}</small>
                <small ng-if="changePassCtrl.alert">{{changePassCtrl.alert}}</small>
            </form>
        </div>
    </div>
</header>

