{% extends 'pushe/base.html' %}

{% block meta %}
    <meta name="description" content="درباره ما، سامانه ارسال ا قوانین پوشه، سامانه ارسال اعلان(پوش نوتیفیکیشن Push Notification) به نرم افزارهای تلفن همراهعلان(پوش نوتیفیکیشن Push Notification) به نرم افزارهای تلفن همراه.">
    <meta name="keywords" content="Push Notification, Android, Unity, iOS, اعلان, آندروید, پوش نوتیفیکیشن, یونیتی, آی او اس">
    <meta name="author" content="Ronash">
{% endblock %}

{% block title %}
درباره ما
{% endblock %}

{% block onepage-content %}
    <section class="header-section fading-title parallax aboutus-bg rtl">
        <div class="section-shade sep-top-3x sep-bottom-3x">
            <div class="container">
                <div class="section-title upper light">
                    <h2 class="small-space"><span class="text-primary">درباره</span>ما</h2>

                    <p class="lead upper">تجارت همراه روناش</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End header Section-->
    <section  id="terms" class="sep-top-lg sep-bottom-md rtl">
        <div  class="container">
            <div class="row col-md-8 col-md-offset-2">
                <p class="text-justify">
                    شرکت تجارت همراه روناش در سال 1394 با هدف ارائه خدمات بر پایه اینترنت و تلفنهای همراه پایه گذاری شد. خدمات ارائه شده توسط این شرکت تنها رویکرد تجاری نداشته و مفید بودن خدمات برای کاربر و جامعه همواره مورد توجه بوده است.

ایده های خلاقانه و شناخت از بازار و استفاده از افراد متخصص، نیروی محرکه اصلی این شرکت به شمار میرود.
                </p>
                <p>
                    برای آشنایی بیشتر با تیم ما و سایر خدمات این شرکت می توانید به سایت:
                    <a style="color:blue" href="http://ronash.co" target="_blank">
                        http://ronash.co
                    </a>
                    مراجعه کنید.
                </p>
            </div>
        </div>
            </section>
{% endblock %}