{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="alexaVerifyID" content="ncRdsZHPSqydrbeeIX0pXHaP_Wg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="apple-touch-icon" type="image/png" href="{% static 'images/apple-touch-icon.png' %}">

    {% block meta %}

    {% endblock %}
    <title>
        {% block title %}
پوشه - پنل ارسال پوش نوتیفیکیشن
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/device-mockups2.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/docs.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
    <link id="primary_color_scheme" rel="stylesheet" href="{% static 'css/theme_meadow.css' %}">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/styleNoJs.css' %}">
    </noscript>

    {% block style %}
        <style type="text/css">
            .limited-content {
                display: none;
            }
        </style>
    {% endblock %}
    <!--Google Plus-->
    <script type="text/javascript" async defer  src="https://apis.google.com/js/platform.js?publisherid=108169505840956447848">
</script>
</head>
<body>
<div id="load"></div>
<!--[if lt IE 9]>
    <p class="browsehappy">شما از یک نسخه قدیم مرورگر اینترنت استفاده می کنید.<br>لطفا مرور گر خود را <a href="https://www.google.com/chrome/browser/desktop/index.html">به روز</a>کنید</p>
    <![endif]-->

<div class="page">
    {% block message %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}

    {% block navigation %}
        <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <i class="fa fa-align-justify fa-lg"></i>
                    </button>
                    <a href="{% if one_page %}#{% else %}{% url 'homepage' %}{% endif %}" class="navbar-brand"><img src="{% static 'images/logo-white.png' %}" alt="" class="logo-white">
                        <img src="{% static 'images/logo-dark.png' %}" alt="" class="logo-dark">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left service-nav rtl">
                        <li>
                            {% if not user.is_authenticated %}
                                <a id="dropdownMenuLogin" href="#" data-toggle="dropdown"
                                   class="upper dropdown-toggle">ورود / ثبت نام</a>
                                <div aria-labelledby="dropdownMenuLogin" class="dropdown-menu widget-box">
                                <div class="ajax-loading display-none">
                                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                                </div>
                                    <form id="login-form">
                                        {% csrf_token %}
                                        <div id="ajax-login-error" role="alert"
                                             class="alert alert-dismissible display-none">
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only">نام کاربری</label>
                                            <input type="text" value="" placeholder="رایانامه (e-mail)"
                                                   name="username"
                                                   class="form-control input-lg">
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only">رمز عبور</label>
                                            <input type="password" onkeypress="tryLogin(event);" value=""
                                                   placeholder="کلمه عبور" name="password"
                                                   class="form-control input-lg">
                                        </div>
                                        <div class="form-inline form-group">
                                            <button id="login-submit" type="button" class="btn btn-primary btn-xs"
                                                    style=" font-size: x-small;">
                                                ورود
                                            </button>
                                        </div>
                                        <label id="dropmenu-ForgotBtn" style="cursor:pointer">
                                            <a>
                                                <small style="font-size: 75%">رمز عبور خود را فراموش کرده ام</small>
                                            </a>
                                        </label>
                                        <label id="dropmenu-SignupBtn" style="cursor:pointer;">
                                            <a>
                                                <small style="font-size: 75%; color:tomato">حساب کاربری ندارید؟ اینجا را کلیک
                                                    کنید.
                                                </small>
                                            </a>
                                        </label>
                                    </form>

                                    <form id="invitation-form" class="display-none">
                                        {% csrf_token %}
                                        <div id="invitation-error-message" role="alert"
                                             class="alert alert-dismissible display-none">
                                        </div>
                                        <div class="form-group">
                                            <div class="alert alert-info">
                                                <div style="margin-bottom: 10px;">
                                                    کاربر گرامی
                                                </div>
                                                <div>
استفاده از سامانه‌ی پوشه، در حال حاضر تنها با داشتن دعوتنامه امکان‌پذیر است، لطفا ایمیل خود را وارد کنید.
                                                </div>
                                                </div>
                                            <label class="sr-only">ایمیل: </label>
                                            <input type="text" value="" id="id_invitation_email"
                                                   placeholder="ایمیل  (e-mail)"
                                                   name="email"
                                                   class="form-control input-lg">
                                        </div>
                                        <div class="form-inline form-group">
                                            <button type="button" id="invitation-submit" class="btn btn-primary btn-xs"
                                                    style="margin:0; ">
ادامه
                                            </button>
                                            <button type="button" id="issue-invitation"  style="margin:0; float: left;font-size: smaller;"
                                                    class="btn btn-primary btn-bordered btn-xs">
درخواست دعوتنامه
                                            </button>
                                        </div>
                                    </form>

                                    <form id="forgot-form" class="display-none">
                                        {% csrf_token %}
                                        <div id="forgot-message" role="alert"
                                             class="alert alert-dismissible display-none">
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only">نام کاربری</label>
                                            <input type="text" value="" id="id_email"
                                                   placeholder="رایانامه (e-mail)"
                                                   name="email"
                                                   class="form-control input-lg">
                                        </div>
                                        <div class="form-inline form-group">
                                            <button type="button" id="forgot-submit" class="btn btn-primary btn-xs">
                                                به
                                                یاد آوری
                                            </button>
                                        </div>
                                    </form>
                                <form id="signup-form" class="display-none" onsubmit="return false;">
                                    {% csrf_token %}
                                    <div id="signup-message" role="alert"
                                         class="alert alert-dismissible display-none">
                                    </div>

                                    <div class="form-group">
                                        <label class="sr-only">نام</label>
                                        <input type="text" value="" placeholder="نام" name="first_name"
                                               id="signup_first_name"
                                               class="form-control input-lg">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">ایمیل</label>
                                        <input type="text" id="signup_email" value=""
                                               placeholder="رایانامه (e-mail)" name="email"
                                               class="form-control input-lg">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">رمز عبور</label>
                                        <input type="password" value="" id="signup_password"
                                               placeholder="کلمه عبور"
                                               name="password"
                                               class="form-control input-lg">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">تکرار کلمه عبور</label>
                                        <input type="password" value="" placeholder="تکرار کلمه عبور"
                                               name="confirm_password" id="signup_confirm_password"
                                               class="form-control input-lg">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">

                                            <span class="starred"> * </span>

                                            کپچا</label>

                                        <img src="" alt="captcha" class="captcha">
                                        <input id="id_captcha_0" name="captcha_0" type="hidden" value="">
                                        <input autocomplete="off" id="id_captcha_1" name="captcha_1" type="text">
                                        <button type="button" class="captcha-refresh btn-link" style="color:#15987e"><i class="fa fa-refresh"></i></button>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" value=" " name="terms" id="id_terms">
                                            <small>
                                                با  <a target="_blank" href="{% url 'rules' %}">شرایط استفاده از سرویس</a>موافقم
                                            </small>
                                        </label>
                                    </div>
                                    <div class="form-inline form-group">
                                        <button type="button" id="signup-submit" class="btn btn-primary btn-xs">
                                            ثبت نام
                                        </button>
                                    </div>
                                </form>
                                </div>
                            {% else %}
                                <ul id="one-page-menu-left" role="menu" class="nav navbar-nav navbar-left">
                                    <li><a id="docs" href="http://docs.pushe.co">راهنما</a></li>
                                    <li><a id="panel" href="/panel">پنل اعضا</a></li>
                                    <li><a id="logout-" href="{% url 'logout' %}">خروج</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                    <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
                    {% block navigation-body %}
                        <ul id="one-page-menu" role="menu" class="nav navbar-nav navbar-right">
                            <li><a href="{% if one_page %}#readmore{% else %}{% url 'homepage' %}#readmore{% endif %}" title="Read More" data-ref="readmore" style="font-weight: 400;">آشنایی</a></li>
                            <li><a href="{% if one_page %}#importance{% else %}{% url 'homepage' %}#importance{% endif %}" title="Importance" data-ref="importance" style="font-weight: 400;">اهمیت</a></li>
                            <li><a href="{% if one_page %}#services{% else %}{% url 'homepage' %}#services{% endif %}" title="About us" data-ref="about" style="font-weight: 400;">امکانات</a></li>
                            <li><a href="{% if one_page %}#demo{% else %}{% url 'homepage' %}#demo{% endif %}" title="Demo" data-ref="demo" style="font-weight: 400;">دمو</a></li>
                            <li><a href="{% if one_page %}#guide{% else %}{% url 'homepage' %}#guide{% endif %}" title="Guide" data-ref="guide" style="font-weight: 400;">آموزش</a></li>
                            <li><a href="{% if one_page %}#pricing{% else %}{% url 'homepage' %}#pricing{% endif %}" title="Pricing" data-ref="pricing" style="font-weight: 400;">قیمت گذاری</a></li>
                            <li><a href="{% if one_page %}#contactus{% else %}{% url 'homepage' %}#contactus{% endif %}" title="Contacts" data-ref="contacts" style="font-weight: 400;">ارتباط با ما</a></li>
                        </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>
    {% endblock %}

    <div class="limited-content">
        {% block content %}
        {% endblock %}
    </div>

    {% block onepage-content %}
    {% endblock %}

    {% block footer %}
                <footer id="footer" class="no-print">
            <div class="inner sep-bottom-md rtl">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="widget sep-top-lg">
                                <img src="{% static 'images/logo-white.png' %}" alt="لوگوی پوشه" class="logo">
                                <small class="sep-top-xs sep-bottom-md">
                                    پوشه، سامانه ارسال اعلان (Push Notification)به کاربران تلفن همراه
                                </small>
                            </div>
                            <div class="widget">
                                <a href="http://ronash.co" target="_blank">
                                    <img src="{% static 'images/logo-ronash.png' %}" alt="لوگوی روناش" class="logo">
                                </a>
                                <small class="sep-top-xs sep-bottom-md no-space">
                                    محصولی از شرکت
                                    <a href="http://ronash.co" target="_blank"> تجارت همراه روناش</a>
                                </small>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget sep-top-lg">
                                <h6 class="upper widget-title">صفحات مرتبط</h6>
                                <ul class="widget-post sep-top-xs">
                                    <li>
                                        <a href="{% url 'privacy' %}" class="title-post" style="font-weight: 900;font-size: large;">
حریم خصوصی
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'rules' %}" class="title-post" style="font-weight: 900;font-size: large;">
                                            قوانین استفاده
                                        </a>
                                    </li>
								    <li>
                                        <a href="{% url 'faq' %}" class="title-post" style="font-weight: 900;font-size: large;">
                                            سوالات متداول
										</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'docs' %}" class="title-post" style="font-weight: 900;font-size: large;">
راهنمای نصب و استفاده
										</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget sep-top-lg">
                                <h6 class="upper widget-title">تماس با ما</h6>
                                <ul class="widget-address sep-top-xs">
                                    <li>
                                        <small>تهران، اکباتان، خیابان شهید نفیسی، پلاک 15، واحد 23<br></small>
                                        <i class="fa fa-map-marker fa-lg"></i>
                                    </li>
                                    <li>
                                        <small>021-44668276<br>021-44670626</small>
                                        <i class="fa fa-phone fa-lg"></i>
                                    </li>
                                    <li>
                                        <small><a href="mailto:info@pushe.co">info@pushe.co</a><br><a href="#"></a></small>
                                        <i class="fa fa-envelope fa-lg"></i>
                                    </li>
                                    <li>
                                        <small>شنبه تا پنج شنبه<br>8 صبح الی 5 بعد از ظهر</small>
                                        <i class="fa fa-clock-o fa-lg"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget sep-top-lg">
                                <h6 class="upper widget-title">گزارش تخلف و شکایت</h6>
                                     <small class="widget sep-top-xs text-justify">
                                         در صورت مشاهده هر گونه تخلف شکایت خود را
                                       <a href="#" data-toggle="modal" data-target="#violation">در این فرم</a>
                                         ثبت کنید.
                                     </small>
                                <!-- Modal -->
                                    <div class="modal fade" id="violation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title text-center" id="myModalLabel">ثبت شکایات و تخلفات</h4>
                                          </div>
                                          <div class="modal-body">
                                              <div class="contact-form">
                                                  <div id="successMessage" style="display: none;" class="alert alert-success text-center">
                                                      <p><i class="fa fa-check-circle fa-2x"></i></p>
                                                      <p>با تشکر از پیام شما، به زودی با شما تماس گرفته خواهد شد.</p>
                                                  </div>
                                                  <div id="failureMessage" style="display:none" class="alert alert-danger text-center">
                                                      <p><i class="fa fa-times-circle fa-2x"></i></p>
                                                      <p>ارسال پیام با خطا مواجه شد، لطفا مجدد تلاش کنید.</p>
                                                  </div>
                                                  <div id="incompleteMessage" style="display:none" class="alert alert-warning text-center">
                                                      <p><i class="fa fa-exclamation-triangle fa-2x"></i></p>
                                                      <p>لطفا تمام فیلدهای اجباری را پر کنید.</p>
                                                  </div>
                                                  <form id="contactForm" action="{% url 'add_complaint' %}" method="post" class="validate" novalidate="novalidate" style="color:#909090">
                                                        {% csrf_token %}
                                                      <div class="row">
                                                        <div class="col-md-6 sep-top-xs">
                                                          <div class="form-group">
                                                            <label for="name" class="upper">نام شما</label>
                                                            <input id="name" type="text" placeholder="" name="name" class="form-control input-lg required" aria-required="true" style="color:black;border-color:black">
                                                          </div>
                                                        </div>
                                                        <div class="col-md-6 sep-top-xs">
                                                          <div class="form-group">
                                                            <label for="email" class="upper">ایمیل شما</label>
                                                            <input id="email" type="email" placeholder="" name="email" class="form-control input-lg required email" aria-required="true" style="color:black;border-color:black">
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="row">
                                                        <div class="col-md-6 sep-top-xs">
                                                          <div class="form-group">
                                                            <label for="phone" class="upper">تلفن تماس شما</label>
                                                            <input id="phone" type="text" placeholder="" name="phone" class="form-control input-lg" aria-required="false" style="color:black;border-color:black">
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="row">
                                                        <div class="col-md-12 sep-top-xs">
                                                          <div class="form-group">
                                                            <label for="comment" class="upper">ثبت شکایت</label>
                                                            <textarea id="comment" placeholder="" rows="9" name="description" class="form-control input-lg required" aria-required="true" style="color:black;border-color:black"></textarea>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="row">
                                                        <div class="col-md-12 sep-top-xs">
                                                          <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>&nbsp;ثبت</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <!--input#subject.form-control.input-lg.required(type='text', placeholder='Subject of your message', name='subject')
                                                      -->
                                                    </form>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                <h6 class="upper widget-title sep-top-xs">
                                    <a href="{% url 'aboutus' %}" class="title-post" style="font-weight: 900;font-size: large;color:white !important">
                                        درباره ما
                                    </a>
                                </h6>
                                </div>
                            <div class="sep-top-xs">
                                <img id='brgwgwmd' style='cursor:pointer' onclick='window.open("http://trustseal.enamad.ir/Verify.aspx?id=69&p=hwmbjzpg", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, resizable=0, width=580, height=600, top=30")' alt='' src='http://trustseal.enamad.ir/logo.aspx?id=69&p=kzoezpfv'/>
                            </div>
                        </div>
                        <!--<div class="col-md-3 col-sm-6">-->
                            <!--<div class="widget sep-top-lg">-->
                                <!--<script type="text/javascript" src="http://www.zarinpal.com/webservice/TrustCode"></script>-->
                                <!--<noscript>-->
                                    <!--<a href="https://www.zarinpal.com/users/receptive_websites">پذیرنده زرین پال</a>-->
                                <!--</noscript>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="copyright sep-top-xs sep-bottom-xs rtl">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <small>تمامی حقوق برای وبسایت پوشه محفوظ می باشد. 1394</small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    <div id="back_to_top"><a href="#" class="fa fa-arrow-up fa-lg"></a></div>
</div>

<!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
<script src="{% static 'js/vendor/modernizr.js' %}"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src='{% static "js/base.js" %}'></script>
<script src='{% static "js/docs.min.js" %}'></script>
<script src='{% static "js/vendor/queryloader2.min.js" %}'></script>
<script src='{% static "js/vendor/owl.carousel.js" %}'></script>
<script src='{% static "js/vendor/jquery.ba-cond.min.js" %}'></script>
<script src='{% static "js/vendor/jquery.slitslider.js" %}'></script>
<script src='{% static "js/vendor/idangerous.swiper.js" %}'></script>
<script src='{% static "js/vendor/jquery.fitvids.js" %}'></script>
<script src='{% static "js/vendor/jquery.countTo.js" %}'></script>
<script src='{% static "js/vendor/TweenMax.min.js" %}'></script>
<script src='{% static "js/vendor/ScrollToPlugin.min.js" %}'></script>
<script src='{% static "js/vendor/jquery.scrollmagic.min.js" %}'></script>
<script src='{% static "js/vendor/jquery.easypiechart.js" %}'></script>
<script src='{% static "js/vendor/jquery.validate.js" %}'></script>
<script src='{% static "js/vendor/wow.min.js" %}'></script>
<script src='{% static "js/vendor/jquery.placeholder.js" %}'></script>
<script src='{% static "js/vendor/jquery.easing.1.3.min.js" %}'></script>
<script src='{% static "js/vendor/jquery.waitforimages.min.js" %}'></script>
<script src='{% static "js/vendor/imagesloaded.pkgd.min.js" %}'></script>
<script src='{% static "js/vendor/isotope.pkgd.min.js" %}'></script>
<script src='{% static "js/vendor/jquery.fillparent.min.js" %}'></script>
<script src='{% static "js/vendor/raphael-min.js" %}'></script>
<script src='{% static "js/vendor/bootstrap.js" %}'></script>
<script src='{% static "js/vendor/jquery.bootstrap-touchspin.min.js" %}'></script>
<script src='{% static "accounts/js/accounts.js" %}' async></script>
<script src='{% static "js/main.js" %}'></script>
<!--<script src='{% static "js/video.js" %}'></script>-->



{% block script %}

{% endblock %}

<!--Google Analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-65205637-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>
</html>