<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <div class="m-b">
            {{'FORGOT_PASSWORD' | translate}}
            <p class="text-xs m-t"></p>
        </div>
        <form name="reset" ng-submit="forgotCtrl.forgotPassword()">
            <div class="md-form-group">
                <input type="email" ng-model="forgotCtrl.request.email" class="md-input" required>
                <label>{{'EMAIL' | translate}}</label>
            </div>
            <button type="submit" class="btn primary btn-block p-x-md" title="Hey!" data-content="Instructions sent to your email." data-type="info" data-container="#alerts-container" bs-alert ng-disabled="reset.$invalid" >Send</button>
            <div ng-if="forgotCtrl.forgetError" class="alert alert-danger" role="alert">
                {{forgotCtrl.forgetError}}
            </div>
            <div ng-if="forgotCtrl.forgetAlarm" class="alert alert-success" role="alert">
                {{forgotCtrl.forgetAlarm}}
            </div>
        </form>
    </div>
    <p id="alerts-container"></p>
    <div class="p-v-lg text-center">Return to <a href="#/account/signin" class="text-primary _600">{{'SIGNIN' | translate}}</a></div>
</div>