<div class="dark bg-auto w-full">
    <div class="fade-in-right-big smooth pos-rlt">

        <div class="center-block w-xxl w-auto-xs p-y-md">
            <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
                <div class="m-b">
                    {{'FORGOT_PASSWORD' | translate}}
                    <p class="text-xs m-t"></p>
                </div>
                <form ng-show="!forgotCtrl.successed" name="reset" ng-submit="forgotCtrl.forgotPassword()">

                    <!--EMAIL-->
                    <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input
                                class="mdl-textfield__input text-left"
                                ng-model="forgotCtrl.data.email" type="email" id="signEmail"
                        >
                        <label class="mdl-textfield__label" for="signEmail">{{'EMAIL' | translate}}</label>
                        <span class="mdl-textfield__error">{{'NOT_VALID_EMAIL'|translate}}</span>
                    </div>
                    <!--EMAIL END-->

                    <button
                            ng-disabled="!forgotCtrl.data.email"
                            type="submit" class="btn primary btn-block p-x-md"
                            title="Hey!" data-content="Instructions sent to your email."
                            data-type="info" data-container="#alerts-container" bs-alert ng-disabled="reset.$invalid"
                    >{{'SEND_FORGOT_LINK'|translate}}
                    </button>
                    <br>
            <span ng-if="forgotCtrl.forgetError.err" class="alert alert-danger" role="alert">
                {{forgotCtrl.forgetError}}
            </span>
            <span ng-if="forgotCtrl.forgetAlarm" class="alert alert-success" role="alert">
                {{forgotCtrl.forgetAlarm}}
            </span>
                </form>
                <div ng-show="forgotCtrl.successed" class="p-t p-b">
                    <span>{{'FORGOT_ALARM'|translate}}</span>
                    <a ui-sref="signin" href="account/signin"  class="btn primary btn-block">{{'SIGNIN' | translate}}</a>
                </div>
            </div>
            <p id="alerts-container"></p>
            <div class="p-v-lg text-center">{{'RETURN_TO' | translate}}<a ui-sref="signin" href="#/account/signin"
                                                                          class="text-primary _600">{{'SIGNIN' | translate}}</a></div>
        </div>

    </div>
</div>