*.log
*.DS_Store
/.idea
/assets/libs
/node_modules/*
/coverage
/assets/css
/assets/js
/docs
.vagrant
/assets/fonts/fontawesome*
/assets/fonts/FontAwesome*
/assets/fonts/MaterialIcons
/app/environment.js
/public