<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <div class="m-b text-sm">
            {{'SIGNUP_MSG' | translate}}
        </div>
        <form name="form" ng-submit="signupCtrl.register()">
            <div class="md-form-group">
                <input type="email" class="md-input" ng-model="signupCtrl.user.email" required>
                <label>{{'EMAIL' | translate}}</label>
            </div>
            <div class="md-form-group">
                <input type="password" class="md-input" ng-model="signupCtrl.user.password" required>
                <label>{{'PASSWORD' | translate}}</label>
            </div>
            <div class="md-form-group">
                <input type="password" class="md-input" ng-model="signupCtrl.repassword" required>
                <label>{{'REPASSWORD' | translate}}</label>
            </div>
            <div class="m-b-md">
                <label class="md-check">
                    <input type="checkbox" ng-model="signupCtrl.user.agree" required><i class="primary"></i> {{'AGREE' | translate}}<a href>{{'TERMS' | translate}}</a>
                </label>
            </div>
            <button type="submit" ng-disabled="form.$invalid || signupCtrl.dataLoading" class="btn primary btn-block p-x-md">{{'SIGNUP' | translate}}</button>
            <small ng-if="signupCtrl.registerError">{{signupCtrl.registerError}}</small>
        </form>
    </div>

    <div class="p-v-lg text-center">
        <div>{{'HAVE_ACCOUNT' | translate}}<a ui-sref="access.signin" href="#/account/signin" class="text-primary _600">{{'SIGNIN' | translate}}</a></div>
    </div>
</div>
