<form>
    <div class="md-form-group float-label">
        <input class="md-input"  focus-me="step2Ctrl.focusStart" ng-required="!step2Ctrl.isMessageHidden"
               ng-change="step2Ctrl.dataChange()" ng-model="step2Ctrl.data.title" >
        <label>{{'NOTIF_TITLE' | translate}}</label>
    </div>
    <div class="md-form-group float-label">
        <input class="md-input" ng-required="!step2Ctrl.isMessageHidden" ng-change="step2Ctrl.dataChange()"
               ng-model="step2Ctrl.data.content">
        <label>{{'TEXT' | translate}}</label>
    </div>

    <small class="help-block"></small>
    <div ng-if="!step2Ctrl.isMessageHidden">
        <notification-action
                actionData="step2Ctrl.data.action"
        </notification-action>
    </div>


    <!--upload -->
    <!--<small class="help-block">{{'ICON_DESC' | translate}}</small>-->
    <div>
        <div class="drop-box">
            <div ngf-drop ngf-select
                 ng-model="step2Ctrl.selectedFile"
                 ngf-drag-over-class="'dragover'"
                 ngf-multiple="false"
                 ngf-allow-dir="true"
                 accept="image/*"
                 ngf-pattern="'image/*'">
                <div>{{'ICON_DESC' | translate}}</div>

                <!--<div>-->
                <!--<img ng-src="step2Ctrl.data.icon" />-->
                <!--</div>-->
            </div>
            <div ng-if="step2Ctrl.selectedFile && !step2Ctrl.isUpload" class="cropArea">
                <img-crop
                        image="step2Ctrl.selectedFile  | ngfDataUrl"
                        result-image="step2Ctrl.data.icon"
                        result-image-size="192"
                        area-type="square"
                >
                </img-crop>
            </div>
        </div>
        <div ngf-no-file-drop>
            <!-- File Drag/Drop is not supported for this browser -->
            <div class="button" ngf-select ng-model="selectedFile" ngf-multiple="false">{{'SELECT_IMAGE'|translate}}
            </div>
        </div>
        <div ng-if="step2Ctrl.isUpload">
            <uib-progressbar
                    type="success"
                    class="progress-striped active"
                    max="step2Ctrl.uploadData.total"
                    value="step2Ctrl.uploadData.precent">
                <i>{{step2Ctrl.uploadData.uploaded}}/{{step2Ctrl.uploadData.total}}</i>
            </uib-progressbar>
        </div>
    </div>

    <div class="md-form-group float-label">
        <input class="md-input" ng-model="step2Ctrl.data.ticker">
        <label>{{'TITLE_BAR_TEXT' | translate}}</label>
    </div>

</form>