<simple-modal mcontrol="notifWizardCtrl.newNotifModal" mclass="modal-lg" mid="notificationWizardDialog" mtitle="{{'NEW_NOTIF_TITLE' | translate}}">

    <ul class="progress-indicator">
        <li ng-class="{'completed':notifWizardCtrl.wizardData.steps[1].hasSeen,'active':notifWizardCtrl.currentStep==1}"><span class="bubble"></span>{{'NOTIF_FIRST_STEP'|translate}}</li>
        <li ng-class="{'completed':notifWizardCtrl.wizardData.steps[2].hasSeen,'active':notifWizardCtrl.currentStep==2}"><span class="bubble"></span>{{'NOTIF_SECOND_STEP'|translate}}</li>
        <li ng-class="{'completed':notifWizardCtrl.wizardData.steps[3].hasSeen,'active':notifWizardCtrl.currentStep==3}"><span class="bubble"></span>{{'NOTIF_THIRD_STEP'|translate}}</li>
        <li ng-class="{'completed':notifWizardCtrl.wizardData.steps[4].hasSeen,'active':notifWizardCtrl.currentStep==4}"><span class="bubble"></span>{{'NOTIF_FORTH_STEP'|translate}}</li>
        <li ng-class="{'completed':notifWizardCtrl.wizardData.steps[5].hasSeen,'active':notifWizardCtrl.currentStep==5}"><span class="bubble"></span>{{'NOTIF_FIFTH_STEP'|translate}}</li>
        <li ng-class="{'completed':notifWizardCtrl.wizardData.steps[6].hasSeen,'active':notifWizardCtrl.currentStep==6}"><span class="bubble"></span>{{'NOTIF_SIXTH_STEP'|translate}}</li>
        <li ng-class="{'completed':notifWizardCtrl.wizardData.steps[7].hasSeen,'active':notifWizardCtrl.currentStep==7}"><span class="bubble"></span>{{'NOTIF_SEVENTH_STEP'|translate}}</li>
    </ul>

    <div class="container stepsParent">
        <!--<div ng-switch on="notifWizardCtrl.currentStep">-->
        <div ng-show="notifWizardCtrl.currentStep==1"><div notification-step1 wizard="notifWizardCtrl.wizardData" ></div></div>
        <div ng-show="notifWizardCtrl.currentStep==2"><div notification-step2 wizard="notifWizardCtrl.wizardData"></div></div>
        <div ng-show="notifWizardCtrl.currentStep==3"><div notification-step3 wizard="notifWizardCtrl.wizardData"></div></div>
        <div ng-show="notifWizardCtrl.currentStep==4"><div notification-step4 wizard="notifWizardCtrl.wizardData"></div></div>
        <div ng-show="notifWizardCtrl.currentStep==5"><div notification-step5 wizard="notifWizardCtrl.wizardData"></div></div>
        <div ng-show="notifWizardCtrl.currentStep==6"><div notification-step6 wizard="notifWizardCtrl.wizardData"></div></div>
        <div ng-show="notifWizardCtrl.currentStep==7"><div notification-step7 wizard="notifWizardCtrl.wizardData"></div></div>
        <!--</div>-->
    </div>

    <div class="btn-group m-t pull-right">
        <button class="btn btn-success"
                ng-if="notifWizardCtrl.wizardData.canSendNotification"
                ng-disabled="_entering || _leaving"
                ng-click="notifWizardCtrl.success()">{{'WIZARD_FIN' | translate}}</button>
        <!--<button class="btn btn-default" ng-click="notifWizardCtrl.cancel()">{{'CANCEL' | translate}}</button>-->
        <button class="btn btn-default"
                ng-show="notifWizardCtrl.currentStep>1"
                ng-disabled="_entering || _leaving || _history.length <= 0"
                ng-click="notifWizardCtrl.previous()">{{'WIZARD_PREV' | translate}}</button>
        <button class="btn btn-primary"
                ng-show="notifWizardCtrl.currentStep<7"
                ng-disabled="_entering || _leaving"
                ng-click="notifWizardCtrl.next()">{{'WIZARD_NEXT' | translate}}</button>
    </div>

    <span class="pull-left alert alert-danger" ng-if="notifWizardCtrl.wizardData.error">{{notifWizardCtrl.wizardData.error}}</span>

</simple-modal>