<div>
    <div class="modal fade modal-sm" id="manifestDialog" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{'DOWNLOAD_MANIFEST' | translate}}</h4>
                </div>
                <div class="modal-body" style="max-height: 500px;overflow:auto;">
                    <div ng-repeat="provider in appsTableCtrl.providers" class="radio">
                        <label mdl-upgrade for="provradio{{$index}}" class="mdl-radio mdl-js-radio">
                            <input type="radio" class="mdl-radio__button" id="provradio{{$index}}" ng-model="appsTableCtrl.selectedProvider" name="optionsRadios" value="{{provider.value}}">
                            {{provider.name}}
                        </label>
                    </div>
                    <button class="btn btn-primary" ng-click="appsTableCtrl.downloadManifest()" ng-disabled="!appsTableCtrl.selectedRow.senderID || !appsTableCtrl.selectedProvider" >{{'DOWNLOAD_MANIFEST'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog"
         aria-labelledby="confirmLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{'YOU_SURE_TITLE' | translate}}</h4>
                </div>
                <div class="modal-body text-center ح-مل">
                    <p>{{'ARE_YOU_SURE_TEXT' | translate}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">{{'NO'|translate}}</button>
                    <button type="button" class="btn danger p-x-md" data-dismiss="modal" ng-click="appsTableCtrl.sendRemoveApplication()">{{'YES'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <table st-table="appsTableCtrl.displayed" st-pipe="appsTableCtrl.callServer" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="application_id">{{'PACKNAME' | translate}}</th>
                <th st-sort="creation_datetime">{{'CREATION_TIME' | translate}}</th>
                <th st-sort="active_users">{{'ACTIVE_USER_COUNT' | translate}}</th>
                <th>{{'DOWNLOAD_MANIFEST' | translate}}</th>
                <th>{{'REMOVE' | translate}}</th>
            </tr>
            <tr>
                <th colspan="5"><input st-search="''" class="form-control" placeholder="{{'GLOBAL_SEARCH_PLACEHOLDER' | translate}}..." type="text"/></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in appsTableCtrl.displayed">
                <td>
                    <div>
                        {{row.application_id}}
                    </div>
                    <small ng-if="row.provider">{{'PROVIDER' | translate}} : {{row.provider}}</small>
                </td>
                <td>
                    <div class="">
                        {{row.creation_datetime}}
                    </div>
                </td>
                <td>
                    <div class="">
                        {{row.active_users}}
                    </div>
                </td>
                <td>
                    <button type="button" ng-click="appsTableCtrl.showManifestDialog(row)" class="btn btn-sm white">
                        <i class="fa fa-download"></i>
                    </button>
                </td>
                <td>
                    <button type="button" ng-click="appsTableCtrl.removeApplication(row)" class="btn btn-sm white">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    <div st-pagination="" st-items-by-page="6" st-displayed-pages="7" class="m-a-0 ng-isolate-scope">
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>