<div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <div class="m-b text-sm">
            {{ 'CHANGE_PASSWORD_MSG' | translate }}
        </div>
        <form name="form" ng-submit="resetPassCtrl.sendResetPasswordRequest()">
            <div class="md-form-group float-label">
                <input type="password" class="md-input" ng-model="resetPassCtrl.data.password" required>
                <label>{{'PASSWORD' | translate}} {{'NEW' | translate}}</label>
            </div>
            <div class="md-form-group float-label">
                <input type="password" class="md-input" ng-model="resetPassCtrl.repassword" required>
                <label>{{'REPASSWORD' | translate}} {{'NEW' | translate}}</label>
            </div>
            <button type="submit" ng-disabled="form.$invalid || resetPassCtrl.dataLoading" class="btn primary btn-block p-x-md">{{'CHANGE_PASS' | translate}}</button>
            <small ng-if="resetPassCtrl.error">{{resetPassCtrl.error}}</small>
            <small ng-if="resetPassCtrl.alert">{{resetPassCtrl.alert}}</small>
        </form>
    </div>
</div>

