<simple-modal mcontrol="installTableCtrl.removeConfirmModal"  mclass="modal-sm" mid="removeFavDialog" mtitle="{{'FAVORITE_DEVICE' | translate}}">
    <div class="modal-body text-center p-lg">
        <p>{{'ARE_YOU_SURE_TEXT' | translate}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">{{'NO'|translate}}</button>
        <button type="button" class="btn danger p-x-md" data-dismiss="modal" ng-click="installTableCtrl.removeIMEI()">{{'YES'|translate}}</button>
    </div>
</simple-modal >
<simple-modal mcontrol="installTableCtrl.newFavModal" mclass="modal-sm" mid="addFavoriteDialog" mtitle="{{'FAVORITE_DEVICE' | translate}}">
    <form name="newFavForm" ng-submit="installTableCtrl.addNewFavorite()">
        <div class="m-b">
            <label class="" for="fav_name">{{'CHOOSE_NAME_4_FAVORITE' | translate}}</label>
            <input name="favName"
                   type="text"
                   class="form-control"
                   ng-model="installTableCtrl.favName"
                   placeholder="{{'FAVORITE_DEVICE_NAME'|translate}}"
                   id="fav_name">
        </div>

        <div>
            <span>{{'FAVORITE_DEVICE_IMEI'|translate}}</span>
            <h6>{{installTableCtrl.selectedToFavorite.imei}}</h6>
        </div>

        <!--SUBMIT-->
        <div ng-if="!installTableCtrl.isSubmiting">
            <button type="submit"
                    ng-disabled="form.$invalid || installTableCtrl.isSubmiting"
                    class="btn primary btn-block p-x-md">
                <!--class="btn-block mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;colored">-->
                {{'ADD_FAVORITE' | translate}}
            </button>
        </div>
        <button class="btn disabled btn-block p-x-md" ng-if="installTableCtrl.isSubmiting">
            <div class="sk-wave" style="width:auto;margin:auto;height:24px;">
                <div ng-repeat="i in [1, 2, 3, 4 ,5]" class="sk-rect sk-rect{{i}}"
                     style="color:green;margin:0 1px 0 0;"></div>
            </div>
        </button>
        <!--SUBMIT END-->

    </form>
</simple-modal>


<div ng-hide="installTableCtrl.hasNoResult" class="row">
    <div ng-class="{'hidden-md-down col-md-6 col-lg-9':installTableCtrl.startSearch,'col-sx-12':!installTableCtrl.startSearch}">
        <div class="box">
            <div class="scrollabeTable">
                <div class="searchToggle">
                    <label ng-hide="" mdl-upgrade class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="icon-toggle-search">
                        <input ng-model="installTableCtrl.startSearch" type="checkbox" id="icon-toggle-search" class="mdl-icon-toggle__input" checked>
                        <i class="mdl-icon-toggle__label material-icons">search</i>
                    </label>
                </div>
                <!---->
                <table
                        ng-style="{'height':installTableCtrl.tableHeight}"
                        fixed-header st-pagination-scroll
                       st-table="installTableCtrl.displayed"
                       st-pipe="installTableCtrl.callServer"
                       class="table table-striped text-center ">
                    <thead>
                    <tr>
                        <th class="text-center">{{'TEST' | translate}}</th>
                        <th class="text-center hidden-md-down" st-sort="smart_device">{{'DEVICE_MODEL' | translate}}</th>
                        <th class="text-center" st-sort="imei">{{'DEVICE' | translate}}</th>
                        <th class="text-center hidden-md-down" st-sort="application_id">{{'APPLICATION' | translate}}</th>
                        <th class="text-center hidden-lg-down" st-sort="creation_time">{{'INSTALLTIME' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in installTableCtrl.displayed" ng-mouseleave="row.showRemoveBtn=false;">
                        <td class="faveTD">
                            <div ng-show="row.favorite">
                                <div>
                                    <a ng-mouseenter="row.showRemoveBtn=true;" class="btn have-beside" ng-click="installTableCtrl.sendTest(row)"><i class="fa fa-send"></i></a>
                                    <div ng-if="row.showRemoveBtn" class="animate fade-in-left removeIMEI">
                                        <span class="muted">{{row.favorite.name}}</span>
                                        <a ng-click="installTableCtrl.startRemoveIMEI(row)"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div ng-hide="row.favorite">
                                <div><a class="btn" ng-click="installTableCtrl.addToFavorite(row)"><i class="fa fa-star-o"></i></a></div>
                            </div>
                        </td>
                        <td class="hidden-md-down">{{row.smart_device}}</td>
                        <td class="">{{row.imei}}</td>
                        <td class="hidden-md-down">{{row.application|appName}}</td>
                        <td class="hidden-lg-down" colspan="2">{{row.creation_time | jalali}}</td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="installTableCtrl.isLoading" class="loadingTable">
                    <div class="sk-wave" style="width:auto;margin:auto;height:24px;">
                        <div ng-repeat="i in [1, 2, 3, 4 ,5]" class="sk-rect sk-rect{{i}}"
                             style="color:green;margin:0 1px 0 ;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-class="{'col-xs-12 col-md-6 col-lg-3 animated ':installTableCtrl.startSearch,'hide animated':!installTableCtrl.startSearch}">
        <div class="box">
            <button type="button" class="hidden-sm-up p-a-1 close" ng-click="installTableCtrl.startSearch=false">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <form class="p-a-1">
                <!--check installation type filter-->
                <div class="m-b-md">
                    <label class="md-check">
                        <input type="checkbox" ng-model="installTableCtrl.search.fav"><i class="primary"></i>{{'JUST_FAVOR_INSTALLED' | translate}}
                    </label>
                </div>

                <!--filter by application-->
                <div class="m-t">
                    <select class="form-control" ng-model="installTableCtrl.search.application">
                        <option value="">{{'SEARCH_BY_APPLICATION'|translate}}</option>
                        <option ng-repeat="option in installTableCtrl.appList" ng-value="option.id" ng-bind="option.name"></option>
                    </select>
                </div>

                <!--filter by date-->
                <div class="ltr m-t">
                    <adm-dtp ng-model='installTableCtrl.search.creation_time' options='{calType: "jalali",autoClose:true,multiple:false, format: "YYYY/MM/DD", default: ""}'></adm-dtp>
                </div>

                <!--filter by device model-->
                <div>
                    <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input text-left"
                               ng-model="installTableCtrl.search.smart_device"
                               type="text" id="smartDeviceTextSearch"
                        >
                        <label class="mdl-textfield__label" for="smartDeviceTextSearch">{{'DEVICE_MODEL' | translate}}</label>
                    </div>
                </div>

                <!--filter by imei-->
                <div>
                    <div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input text-left"
                               ng-model="installTableCtrl.search.imei"
                               type="text" id="imeiTextSearch"
                        >
                        <label class="mdl-textfield__label" for="imeiTextSearch">{{'DEVICE' | translate}}</label>
                    </div>
                </div>

                <!--run search by imei or device model-->
                <div class="text-center m-t-2">
                    <button ng-click="installTableCtrl.runSearch()" class="mdl-button mdl-js-ripple-effect">
                        {{'SEARCH'|translate}}
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-show="installTableCtrl.hasNoResult">
    <h4 class="text-center m-t-3">{{'NO_RESULT'|translate}}</h4>
</div>