<div class="container">
    <div class="col-md-6 col-xm-12">
        <div class="">
            <div class="m-b">
                <div class="padding">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box p-a">
                                <div class="pull-left m-r">
                                    <span class="w-40 primary text-center rounded">
                                        <i class="material-icons">people</i>
                                    </span>
                                </div>
                                <div class="clear">
                                    <h4 class="m-a-0 text-md">
                                        <a href>{{dashboardCtrl.data.activeInstallationCount}}
                                            <span class="text-sm">{{'INSTALLED'|translate}}</span>
                                        </a>
                                    </h4>
                                    <small class="text-muted">{{'ACTIVE_INSTALLATION'|translate}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box p-a">
                                <div class="pull-left m-r">
                                    <span class="w-40 primary text-center rounded">
                                        <i class="material-icons">shopping_basket</i>
                                    </span>
                                </div>
                                <div class="pull-right m-l">
                                    <button ng-click="startApplicationWizard()" class="md-btn md-fab m-b-xs indigo add-button-dashboard">
                                        <i class="material-icons md-8">add</i>
                                    </button>
                                </div>
                                <div class="clear">
                                    <h4 class="m-a-0 text-md">
                                        <a href>{{dashboardCtrl.data.applicationCount}}
                                            <span class="text-sm">{{'APPLICATIONS'|translate}}</span>
                                        </a>
                                    </h4>
                                    <small class="text-muted">{{'USER_APP_COUNT'|translate}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box p-a">
                                <div class="pull-left m-r">
                                    <span class="w-40 primary text-center rounded">
                                        <i class="material-icons">shopping_basket</i>
                                    </span>
                                </div>
                                <div class="pull-right m-l">
                                    <button ng-click="startNotificationWizard()" class="md-btn md-fab m-b-xs indigo add-button-dashboard">
                                        <i class="material-icons md-8">add</i>
                                    </button>
                                </div>
                                <div class="clear">
                                    <h4 class="m-a-0 text-md">
                                        <a href>{{dashboardCtrl.data.notificationSent}}
                                            <span class="text-sm">{{'NOTIFICATIONS'|translate}}</span>
                                        </a>
                                    </h4>
                                    <small class="text-muted">{{'SEND_NOTIF_COUNT'|translate}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--TODO : Add gallery here-->
    <div class="col-md-6 col-xm-12">



    </div>
</div>