<div class="container">
    <div class="col-md-4">
            <div class="box p-a">
                <div class="pull-left m-r">
                    <span class="w-40 primary text-center rounded">
                        <i class="material-icons">people</i>
                    </span>
                </div>
                <div class="clear">
                    <h4 class="m-a-0 text-md">
                        <a href="#/installed">{{dashboardCtrl.data.installations}}
                            <span class="text-sm">{{'INSTALLED'|translate}}</span>
                        </a>
                    </h4>
                    <small class="text-muted">{{'ACTIVE_INSTALLATION'|translate}}</small>
                </div>
            </div>
        </div>
    <div class="col-md-4">
            <div class="box p-a">
                <div class="pull-left m-r">
                    <span class="w-40 primary text-center rounded">
                        <i class="material-icons">shopping_basket</i>
                    </span>
                </div>
                <div class="pull-right m-l">
                    <button ng-click="startApplicationWizard()" class="md-btn md-fab m-b-xs indigo add-button-dashboard">
                        <i class="material-icons md-8">add</i>
                    </button>
                </div>
                <div class="clear">
                    <h4 class="m-a-0 text-md">
                        <a href="#/apps">{{dashboardCtrl.data.applications}}
                            <span class="text-sm">{{'APPLICATIONS'|translate}}</span>
                        </a>
                    </h4>
                    <small class="text-muted">{{'USER_APP_COUNT'|translate}}</small>
                </div>
            </div>
        </div>
    <div class="col-md-4">
            <div class="box p-a">
                <div class="pull-left m-r">
                    <span class="w-40 primary text-center rounded">
                        <i class="material-icons">shopping_basket</i>
                    </span>
                </div>
                <div class="pull-right m-l">
                    <button ng-click="startNotificationWizard()" class="md-btn md-fab m-b-xs indigo add-button-dashboard">
                        <i class="material-icons md-8">add</i>
                    </button>
                </div>
                <div class="clear">
                    <h4 class="m-a-0 text-md">
                        <a href="#/notification">{{dashboardCtrl.data.notifications}}
                            <span class="text-sm">{{'NOTIFICATIONS'|translate}}</span>
                        </a>
                    </h4>
                    <small class="text-muted">{{'SEND_NOTIF_COUNT'|translate}}</small>
                </div>
            </div>
        </div>

    <div class="col-md-12">
        <div class="box ">
            <div class="box-header">
                <h3>{{'INSTALLATION_CHART_TITLE'|translate}}</h3>
                <small class="block text-muted">{{'INSTALLATION_CHART_DESCRIPTION'|translate}}</small>
            </div>
            <div class="box-tool">
		        <ul class="nav">
		          <li class="nav-item inline dropdown">
		            <a class="nav-link" data-toggle="dropdown">
		              <i class="material-icons md-18">&#xe5d4;</i>
		            </a>
		            <div class="dropdown-menu dropdown-menu-scale pull-right">
		              <a class="dropdown-item" href>This week</a>
		              <a class="dropdown-item" href>This month</a>
		              <a class="dropdown-item" href>This week</a>
		              <div class="dropdown-divider"></div>
		              <a class="dropdown-item">Today</a>
		            </div>
		          </li>
		        </ul>
		      </div>
            <div class="box ltr">
                <div id="installationChart" style="height:400px;"></div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="box ">
            <div class="box-header">
                <h3>{{'APP_VERSION_CHART_TITLE'|translate}}</h3>
                <small class="block text-muted">{{'APP_VERSION_CHART_DESCRIPTION'|translate}}</small>
            </div>
            <div class="box ltr">
                <div id="appVersionChart" style="height:400px;"></div>
            </div>
            </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="box ">
            <div class="box-header">
                <h3>{{'OS_VERSION_CHART_TITLE'|translate}}</h3>
                <small class="block text-muted">{{'OS_VERSION_CHART_DESCRIPTION'|translate}}</small>
            </div>
            <div class="box ltr">
                <div id="osVersionChart" style="height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="box ">
            <div class="box-header">
                <h3>{{'MARKETS_CHART_TITLE'|translate}}</h3>
                <small class="block text-muted">{{'MARKETS_CHART_DESCRIPTION'|translate}}</small>
            </div>
            <div class="box ltr">
                <div id="marketChart" style="height:400px;"></div>
            </div>
        </div>
    </div>
</div>