<div>
    <table st-table="installTableCtrl.displayed" st-pipe="installTableCtrl.callServer" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="device">{{'DEVICE' | translate}}</th>
            <th st-sort="application">{{'APPLICATION' | translate}}</th>
            <th st-sort="installTime">{{'INSTALLTIME' | translate}}</th>
            <th st-sort="lastSeen">{{'LASTSEEN' | translate}}</th>
            <th>test</th>
            <!-- TODO: its hard code naming we change that later -->
        </tr>
        <tr>
            <th><input st-search="'device'" class="form-control" placeholder="{{'DEVICE' | translate}}.." type="text"/></th>
            <th><input st-search="'application'" class="form-control" placeholder="{{'APPLICATION' | translate}}.." type="text"/></th>
            <th><input st-search="'installTime'" class="form-control" placeholder="{{'INSTALL_TIME_PLACE_HOLDER' | translate}}" type="text"/></th>
            <th><input st-search="'lastSeen'" class="form-control" placeholder="{{'LASTSEEN_PLACE_HOLDER' | translate}}" type="text"/></th>
            <th><a class="btn">SendToAll</a></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in installTableCtrl.displayed">
                <td> {{row.device}} </td>
                <td>{{row.application}}</td>
                <td>{{row.installTime}}</td>
                <td>{{row.lastSeen}}</td>
                <td><a class="btn" ng-click="installTableCtrl.sendTest(row)"><i class="fa fa-send"></i></a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="7" class="m-a-0 ng-isolate-scope">
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>