<form>
    <div class="md-form-group float-label">
        <input class="md-input"  focus-me="step2Ctrl.focusStart" ng-required="!step2Ctrl.isMessageHidden"
               ng-change="step2Ctrl.dataChange()" ng-model="step2Ctrl.data.title" >
        <label>{{'NOTIF_TITLE' | translate}}</label>
    </div>
    <div class="md-form-group float-label">
        <input class="md-input" ng-required="!step2Ctrl.isMessageHidden" ng-change="step2Ctrl.dataChange()"
               ng-model="step2Ctrl.data.content">
        <label>{{'TEXT' | translate}}</label>
    </div>

    <small class="help-block"></small>
    <div ng-if="!step2Ctrl.isMessageHidden">
        <notification-action
                action-data="step2Ctrl.data.action"
        </notification-action>
    </div>


    <!--upload -->
    <!--<small class="help-block">{{'ICON_DESC' | translate}}</small>-->
    <div>
        <div class="drop-box">
            <div ng-if="!step2Ctrl.isUploaded" ngf-drop ngf-select
                 ng-model="step2Ctrl.selectedFile"
                 ngf-drag-over-class="'dragover'"
                 ngf-multiple="false"
                 ngf-allow-dir="true"
                 accept="image/*"
                 ngf-pattern="'image/*'">
                <div>{{'ICON_DESC' | translate}}</div>
            </div>
            <div class="" ng-if="step2Ctrl.isUploaded">
                <div class="list-left"><img class="w-40 r-2x" ng-src="{{step2Ctrl.resultIcon}}"/></div>
                <div class="pull-right"><button ng-click="step2Ctrl.changeImage()" class="btn btn-warning"><i class="fa fa-times"></i></button></div>
                <div><a>{{'IMAGE_IS_UPLOADED' | translate}}</a></div>
                <div><span>{{step2Ctrl.selectedFile.name}}</span></div>
            </div>
            <div ng-if="step2Ctrl.selectedFile && !step2Ctrl.isUploading && !step2Ctrl.isUploaded" class="cropArea">
                <img-crop
                        image="step2Ctrl.selectedFile  | ngfDataUrl"
                        result-image="step2Ctrl.resultIcon"
                        result-image-size="192"
                        area-type="square"
                >
                </img-crop>
                <button class="btn btn-primary" ng-click="step2Ctrl.upload()">{{'UPLOAD' | translate}}</button>
            </div>
            <div ng-if="step2Ctrl.isUploading  && !step2Ctrl.isUploaded">
                <uib-progressbar
                        type="success"
                        class="progress-striped active"
                        max="step2Ctrl.uploadData.total"
                        value="step2Ctrl.uploadData.uploaded">
                    <i>{{step2Ctrl.uploadData.uploaded}}/{{step2Ctrl.uploadData.total}}</i>
                </uib-progressbar>
            </div>
        </div>
        <div ngf-no-file-drop>
            <!-- File Drag/Drop is not supported for this browser -->
            <div class="button" ngf-select ng-model="selectedFile" ngf-multiple="false">{{'SELECT_IMAGE'|translate}}
            </div>
        </div>
    </div>
    <div class="md-form-group float-label">
        <input class="md-input" ng-model="step2Ctrl.data.ticker">
        <label>{{'TITLE_BAR_TEXT' | translate}}</label>
    </div>

</form>