<div ng-repeat="action in step3Ctrl.data.actions">
    <div class="container">
        <div class="col-xs-1 col-sm-2">
            <button class="btn btn-secondary">
                <i class="fa fa-remove"></i>
            </button>
        </div>
        <div class="col-xs-11 col-sm-10">
            <notification-Button-Setter data="action"></notification-Button-Setter>
        </div>
    </div>
</div>
<button class="btn" ng-if="step3Ctrl.data.actions.length<3" ng-click="step3Ctrl.addAction()">{{'ADD_NOTIF_BUTTON' | translate}}</button>
<small class="help-block"></small>