<ui-select multiple ng-model="step1Ctrl.selectedApps">
    <ui-select-match placeholder="{{'SELECT_APP' | translate}}">
        <span ng-bind="$item.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in (step1Ctrl.app.list | filter: $select.search)">
        <span ng-bind="item.name"></span>
    </ui-select-choices>
</ui-select>


<div class="md-form-group float-label">
    <input class="md-input" ng-model="step1Ctrl.data.title" focus-me="step1Ctrl.focusStart">
    <label>{{'NOTIF_TITLE' | translate}}</label>
</div>
<div class="md-form-group float-label">
    <input class="md-input" ng-model="step1Ctrl.data.text">
    <label>{{'TEXT' | translate}}</label>
</div>

<small class="help-block"></small>
<notification-action ng-model="step1Ctrl.notifClickAction"></notification-action>

<!--upload -->
<!--<small class="help-block">{{'ICON_DESC' | translate}}</small>-->
<div ngf-drop ngf-select  class="drop-box"
     ng-model="step1Ctrl.selectedFile"
     ngf-drag-over-class="'dragover'"
     ngf-multiple="false"
     ngf-allow-dir="true"
     accept="image/*"
     ngf-pattern="'image/*'">{{'ICON_DESC' | translate}}</div>
<div ngf-no-file-drop>
    <!-- File Drag/Drop is not supported for this browser -->
    <div class="button" ngf-select  ng-model="selectedFile"  ngf-multiple="false">{{'SELECT_IMAGE'|translate}}</div>
</div>
<div ng-if="step1Ctrl.selectedFile">
    <uib-progressbar
            type="success"
            class="progress-striped active"
            max="step1Ctrl.uploadData.total"
            value="step1Ctrl.uploadData.precent">
        <i>{{step1Ctrl.uploadData.uploaded}}/{{step1Ctrl.uploadData.total}}</i>
    </uib-progressbar>
</div>


<div class="md-form-group float-label">
    <input class="md-input" ng-model="step1Ctrl.data.notifTitleText">
    <label>{{'TITLE_BAR_TEXT' | translate}}</label>
</div>