<div class="m-b-md">
    <label class="md-check">
        <input type="checkbox" ng-model="step5Ctrl.isShown"><i class="primary"></i>{{'IS_SHOWN' | translate}}
    </label>
</div>
<div class="m-b-md">
    <label class="md-check">
        <input type="checkbox" ng-model="step5Ctrl.screenTurnON""><i class="primary"></i>{{'SCREEN_TURN_ON' | translate}}
    </label>
</div>
<!--VIBRATE-->
<div>
    <div class="m-b-md">
        <label class="md-check">
            <input type="checkbox" ng-model="step5Ctrl.vibrate.isOn"><i class="primary"></i>{{'VIBRATE' | translate}}
        </label>
    </div>
    <div uib-collapse="!step5Ctrl.vibrate.isOn">
        <div class="well well-lg row">
            <div class="form-group col-xs-6">
                <label>{{'ON_TIME' | translate}}</label>
                <select class="form-control" ng-model="step5Ctrl.vibrate.onTime" >
                    <option ng-repeat="option in step5Ctrl.vibrateTimes" value="{{option}}">{{option}}s</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>{{'OFF_TIME' | translate}}</label>
                <select class="form-control" ng-model="step5Ctrl.vibrate.offTime">
                    <option ng-repeat="option in step5Ctrl.vibrateTimes" value="{{option}}">{{option}}s</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!--LED-->
<a type="button" class="btn btn-default" ng-click="step5Ctrl.showLEDController = !step5Ctrl.showLEDController">{{'LED' | translate}}</a>
<div uib-collapse="!step5Ctrl.showLEDController">
    <div class="well well-lg row">
        <div class="form-group col-xs-2">
            <label>{{'ON_TIME' | translate}}</label>
            <select class="form-control" ng-model="step5Ctrl.LED.onTime">
                <option ng-repeat="option in step5Ctrl.LEDTimes" value="{{option}}">{{option}}s</option>
            </select>
        </div>
        <div class="form-group col-xs-2">
            <label>{{'OFF_TIME' | translate}}</label>
            <select class="form-control" ng-model="step5Ctrl.LED.offTime">
                <option ng-repeat="option in step5Ctrl.LEDTimes" value="{{option}}">{{option}}s</option>
            </select>
        </div>
        <div class="form-group col-xs-3">
            <label>{{'COLOR' | translate}}</label>
            <select class="form-control" ng-model="step5Ctrl.LED.color">
                <option ng-repeat="option in step5Ctrl.LEDColors" value="{{option}}">{{option}}</option>
            </select>
        </div>
    </div>
</div>