<div class="container">
    <tags-input ng-model="step6Ctrl.selectedFavorites" on-tag-adding="step6Ctrl.isIMEI($tag)">
        <!--<auto-complete source="step6Ctrl.loadTags($query)"></auto-complete>-->
        <!--<auto-complete source="step6Ctrl.selectedFavorites"></auto-complete>-->
    </tags-input>
    <!--="step6Ctrl.addNewIMEI"-->
    <!--<ui-select multiple tagging tagging-label="IMEI : " ng-model="step6Ctrl.selectedFavorites">-->
        <!--<ui-select-match placeholder="{{'IMEI' | translate}}">-->
            <!--<span ng-bind="$item"></span>-->
        <!--</ui-select-match>-->
        <!--<ui-select-choices repeat="item in (step6Ctrl.favoritesList | filter: $select.search)">-->
            <!--<span ng-bind="item"></span>-->
        <!--</ui-select-choices>-->
    <!--</ui-select>-->
</div>