<div class="md-form-group float-label">
    <input class="md-input" ng-required="!step1_5Ctrl.data.isHidden" ng-model="step1_5Ctrl.data.title" focus-me="step1_5Ctrl.focusStart">
    <label>{{'NOTIF_TITLE' | translate}}</label>
</div>
<div class="md-form-group float-label">
    <input class="md-input" ng-required="!step1_5Ctrl.data.isHidden" ng-model="step1_5Ctrl.data.text">
    <label>{{'TEXT' | translate}}</label>
</div>

<small class="help-block"></small>
<div ng-if="!step1_5Ctrl.isMessageHidden">
    <notification-action
        actionData="step1_5Ctrl.data.action"
    </notification-action>
</div>


<!--upload -->
<!--<small class="help-block">{{'ICON_DESC' | translate}}</small>-->
<div>
    <div class="drop-box">
        <div ngf-drop ngf-select
             ng-model="step1_5Ctrl.selectedFile"
             ngf-drag-over-class="'dragover'"
             ngf-multiple="false"
             ngf-allow-dir="true"
             accept="image/*"
             ngf-pattern="'image/*'">
            <div>{{'ICON_DESC' | translate}}</div>

            <!--<div>-->
            <!--<img ng-src="step1_5Ctrl.data.croppedDataUrl" />-->
            <!--</div>-->
        </div>
        <div ng-if="step1_5Ctrl.selectedFile && !step1_5Ctrl.isUpload" class="cropArea">
            <img-crop
                    image="step1_5Ctrl.selectedFile  | ngfDataUrl"
                    result-image="step1_5Ctrl.data.croppedDataUrl"
                    result-image-size="192"
                    area-type="square"
            >
            </img-crop>
        </div>
    </div>
    <div ngf-no-file-drop>
        <!-- File Drag/Drop is not supported for this browser -->
        <div class="button" ngf-select  ng-model="selectedFile"  ngf-multiple="false">{{'SELECT_IMAGE'|translate}}</div>
    </div>
    <div ng-if="step1_5Ctrl.isUpload">
        <uib-progressbar
                type="success"
                class="progress-striped active"
                max="step1_5Ctrl.uploadData.total"
                value="step1_5Ctrl.uploadData.precent">
            <i>{{step1_5Ctrl.uploadData.uploaded}}/{{step1_5Ctrl.uploadData.total}}</i>
        </uib-progressbar>
    </div>
</div>

<div class="md-form-group float-label">
    <input class="md-input" ng-model="step1_5Ctrl.data.notifTitleText">
    <label>{{'TITLE_BAR_TEXT' | translate}}</label>
</div>