@font-face{
  font-family: "BKoodak";
  src:  url('../fonts/BKoodak.eot?') format('eot'),
        url('../fonts/BKoodak.woff') format('woff'),
        url('../fonts/BKoodak.ttf') format('truetype');
}
@font-face{
  font-family: "BYekan";
  src: url('../fonts/BYekan.eot?') format('eot'),
       url('../fonts/BYekan.woff') format('woff'),
       url('../fonts/BYekan.ttf') format('truetype');
}

$bkoodak:BKoodak, 'BKoodak', tahoma;
$byekan:BYekan, 'BYekan', tahoma;