// Layout

body{
  font-family: IRANSans,BYekan,Bkoodak,tahoma;
}

.progress-bar-success{
  background-color: #0CC2AA;
  color:#fff;
}

@media (min-width: 47.9em) {
  .app-aside{
	.navside.right {
	  position: absolute;
		left: 0;
		right:0;
		top:0;
		bottom:0;
		-webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
}
@media (max-width: 47.9em) {
  .navbar-brand>img{
	width: 100px;
  }
  .app-aside .right{
	position: fixed;
	width: 304px;
  }
}
.nav-link {
	.material-icons {
		font-size: 18px;
	}
}





.app-footer{
	margin:0;
	position:static;
}
.footer{
	.navbar-brand img{
		width:50px;
	}
}



body,#content, .app.ng-scope, div#content{
	height:100%;
}
.app-body{
	min-height: 80%;
	padding-top:4.5rem;
}






input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: #fff;
}

.mdl-textfield__label{
	text-align: right;
}
.mdl-textfield__input.text-left{
	text-align: left;
	direction:ltr;
}
.mdl-textfield__label:after{
	bottom:12px;
}

.mdl-checkbox__box-outline, .mdl-checkbox__focus-helper {
	right:0;
}
.mdl-checkbox__ripple-container{
	right:-10px;
}
.mdl-checkbox.is-upgraded{
	padding-right: 24px;
	padding-left:0;
}