// Layout

body{
  font-family: IRANSans,BYekan,Bkoodak,tahoma;
}

.progress-bar-success{
  background-color: #0CC2AA;
  color:#fff;
}
.modal>.left {
	left: auto;
	right: 0;
}
.modal .left{
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
@media (min-width: 992px) {
	.app-aside .left {
		position: absolute;
		left: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@media (max-width: 47.9em) {
  .navbar-brand>img{
	width: 100px;
  }
}

.footer{
	.navbar-brand img{
		width:50px;
	}
}

.app-header~.app-body {
	padding-top: 4.5rem;
}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: #fff;
}

.mdl-textfield__label{
	text-align: right;
}
.mdl-textfield__input.text-left{
	text-align: left;
	direction:ltr;
}
.mdl-textfield__input.text-right{
	text-align: right;
	direction:rtl;
}
.mdl-textfield__label:after{
	bottom:12px;
}

.mdl-checkbox__box-outline, .mdl-checkbox__focus-helper {
	right:0;
}
.mdl-checkbox__ripple-container{
	right:-10px;
}
.mdl-checkbox.is-upgraded{
	padding-right: 24px;
	padding-left:0;
}

.stepsParent{
	min-height:200px;
	max-height: 300px;
	overflow:auto;
}