@import "elements/imageUpload";
@import "elements/table";
@import "elements/wizard";
@import "elements/table";
@import "elements/pace";


.ace_editor { height: 200px; }


.publicError{
  z-index: 10000;
  position: absolute;
  min-width: 50%;
}

.errorShow{
  visibility: visible;
}
.strong   { color: #060; border-color: #0F0;}
.medium   { color: #C60; border-color: #FC0;}
.weak     { color: #900; border-color: #F00;}


no-captcha>div>div{
  margin:auto;
}
@media (min-width: 992px) {
  .hasCaptcha{
    width:345px;
  }
}

.pos-rlt{
  z-index:auto;
}