<ui-select ng-model="notifActionCtrl.selectedAction">
    <ui-select-match placeholder="{{'ACTION_PLACEHOLDER' | translate}}">
        <small uib-tooltip="{{$select.selected.desc}}" tooltip-trigger="mouseenter" ng-bind="$select.selected.name"></small>
    </ui-select-match>
    <ui-select-choices repeat="item in (notifActionCtrl.buttonClickActionList | filter: $select.search) track by item.id">
        <span uib-tooltip="{{item.desc}}" tooltip-trigger="mouseenter" ng-bind="item.name"></span>
    </ui-select-choices>
</ui-select>

<div ng-if="notifActionCtrl.selectedAction.id==3" class="md-form-group float-label">
    <form name="urlform">
        <input placeholder="" name="urlpath" type="text" class="md-input" ng-model="notifActionCtrl.actionData.url" required
               ng-pattern=/(http|ftp|https):\/\/[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:\/~+#-]*[\w@?^=%&amp;\/~+#-])?/i>
        <label>{{'URL' | translate}}</label>
        <small ng-if="urlform.urlpath.$error.required" class="error">{{'REQUIRED',|translate}}</small>
        <small ng-if="!urlform.urlpath.$error.required && !urlform.urlpath.$valid" class="error">{{'URI_INCORRECT'|translate}}</small>
    </form>
</div>

<div ng-if="notifActionCtrl.actionData.action.id==4" class="md-form-group float-label">
    <form name="uriform">
        <input placeholder="" name="uriCommand" type="text" class="md-input" ng-model="notifActionCtrl.actionData.url" required
               ng-pattern=/^([a-z0-9+.-]+):(?:\/\/(?:((?:[a-z0-9-._~!$&'()*+,;=:]|%[0-9A-F]{2})*)@)?((?:[a-z0-9-._~!$&'()*+,;=]|%[0-9A-F]{2})*)(?::(\d*))?(\/(?:[a-z0-9-._~!$&'()*+,;=:@\/]|%[0-9A-F]{2})*)?|(\/?(?:[a-z0-9-._~!$&'()*+,;=:@]|%[0-9A-F]{2})+(?:[a-z0-9-._~!$&'()*+,;=:@\/]|%[0-9A-F]{2})*)?)(?:\?((?:[a-z0-9-._~!$&'()*+,;=:\/?@]|%[0-9A-F]{2})*))?(?:#((?:[a-z0-9-._~!$&'()*+,;=:\/?@]|%[0-9A-F]{2})*))?$/i>
        <label>{{'URI' | translate}}</label>
        <small ng-if="uriform.uriCommand.$error.required" class="error">{{'REQUIRED',|translate}}</small>
        <small ng-if="!uriform.uriCommand.$error.required && !uriform.uriCommand.$valid" class="error">{{'URI_INCORRECT'|translate}}</small>
    </form>
</div>