<div mdl-upgrade class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input ng-change="passStrengthCtrl.change()" name="password" class="mdl-textfield__input"
           ng-model="password" type="password" id="registerPass">
    <label class="mdl-textfield__label" for="registerPass">{{'PASSWORD' | translate}}</label>
    <span ng-if="password && passStrengthCtrl.passwordStatus" class="mdl-textfield__error errorShow" ng-class="passStrengthCtrl.passwordStatusClass">{{passStrengthCtrl.passwordStatus}}</span>
</div>
