<div>
    <div class="box-body b-t">
        <button type="button" ng-click="appsTableCtrl.startNewApplication()" class="btn btn-sm btn-info">
            <i class="fa fa-plus">
            </i> {{'ADD_NEW_APP' | translate}}
        </button>
    </div>

    <table st-table="displayedCollection" st-safe-src="appsTableCtrl.appCollection" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="name">{{'NAME' | translate}}</th>
            <th st-sort="packname">{{'PACKNAME' | translate}}</th>
            <th width="150"></th>
            <!-- TODO: its hard code naming we change that later -->
        </tr>
        <tr>
            <th colspan="4"><input st-search="" class="form-control" placeholder="{{'GLOBAL_SEARCH_PLACEHOLDER' | translate}}global search ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>
                <div class="" ng-if="row.isEditing">
                    <input class="md-input" ng-model="row.name" focus-me="row.isEditing">
                </div>
                <div ng-if="!row.isEditing">
                    {{row.name}}
                </div>
            </td>
            <td>{{row.packname}}</td>
            <td>
                <div ng-if="!row.isEditing">
                    <button type="button" ng-click="appsTableCtrl.startEdit(row)" class="btn btn-sm white">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" ng-click="appsTableCtrl.removeApplication(row)" class="btn btn-sm white">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div ng-if="row.isEditing">
                    <button type="button" ng-click="appsTableCtrl.cancelEdit(row)" class="btn btn-sm">{{'CANCEL' | translate}}</button>
                    <button type="button" ng-click="appsTableCtrl.commitEdit(row)" class="btn btn-sm">{{'OK' | translate}}</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>